apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: customdeployments.apps.myorg.io
spec:
  group: apps.myorg.io
  scope: Namespaced
  names:
    plural: customdeployments
    singular: customdeployment
    kind: CustomDeployment
    shortNames:
      - cdeploy
  versions:
    - name: v1alpha1
      served: true
      storage: true
      subresources:
        status: {}
      schema:
        openAPIV3Schema:
          type: object
          properties:
            apiVersion:
              type: string
            kind:
              type: string
            metadata:
              type: object
            spec:
              type: object
              properties:
                replicas:
                  type: integer
                  format: int32
              required:
                - replicas
            status:
              type: object
              properties:
                availableReplicas:
                  type: integer
                  format: int32
